.App {
  text-align: center;
}

.App-header {
  /* Darkmode:
  background-color: #282c34; 
  */
  background-color: antiquewhite;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.NavBar {
  padding-left: 10vmin;
  padding-right: 10vmin;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  background-color: #61dafb;
}

.NavLink {
  padding: inherit;
  color: black;
  text-decoration-line: none;  
}

.NavLink:hover {
  background-color: blue;
  text-decoration-line: underline;
  text-decoration-color: rgb(255, 50, 50);
  text-decoration-style: solid;
  text-decoration-thickness: 1vmin;
  text-underline-position: under;
}

.App-link {
  color: #61dafb;
}
