/* originally shamelessly stolen */
:root {
  --primary-color: #FFBB5C;
  --secondary-color: #FF9B50;
  --tertiary-color: #E25E3E;
  --quaternary-color: #C63D2F;
  --primary-text-color: #121212;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

#root {
  height: 100%;
  width: 100%;
}

.divH1 {
  height: 4rem;
  width: 90%;
  margin-left: 5%;
  border: solid 1px black;
}

.divH1 img{
  height: 4rem;
  float: right;
}

h1 {
  width: 45%;
  float: left;
  border: solid 1px red;
  
}

nav {
  width: 90%;
  height: 4rem;
  margin: auto;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-evenly;
}

nav span {
  position: relative;
  flex-grow: 1;
  
}

nav span:hover {
  background-color: var(--quaternary-color);
}

nav span a {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  z-index: 2;
  color: var(--primary-text-color);
  text-decoration-line: none;
}

nav span a:visited {
  color: var(--primary-text-color);
}

#detail {
  flex: 1;
  padding: 2rem 4rem;
  width: 100%;
}

#detail.loading {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 200ms;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}